<footer>
    <div class="container">
        <div class="row">
            <div class="col-12 copyright">
                <p>Copyright 2018 - {{ contacts.firstName }} {{ contacts.lastName }}</p>                               
            </div>
        </div>
        <div class="row">
            <div class="col-12 conception-tools">
                <div>
                    <p>Cette page a été conçue avec :</p>
                    <p>
                        <i class="fab fa-html5 fa-2x"></i> 
                        <i class="fab fa-css3-alt fa-2x"></i> 
                        <i class="fab fa-node-js fa-2x"></i>
                        <i class="fab fa-npm fa-2x"></i>
                        <i class="fab fa-gulp fa-2x"></i>
                        <i class="fab fa-sass fa-2x"></i>
                        <i class="fab fa-js fa-2x"></i>
                        <i class="fab fa-font-awesome fa-2x"></i>
                        <img src="./dist/img/brands/bootstrap.svg" class="bootstrap">
                        <img src="./dist/img/brands/jquery.png" class="jquery">
                        <img src="./dist/img/brands/handlebars.svg" class="handlebars">
                        <img src="./dist/img/brands/json-5.svg" class="json">
                        <img src="./dist/img/brands/browsersync.svg" class="browsersync">
                    </p> 
                </div>                
            </div>
        </div>
    </div>    
</footer>