<nav class="desktop">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <ul>
                    <li class="js-active js-competences"><i class="fa fa-cogs"></i> {{competences.title}}</li>
                    <li class="js-jobs"><i class="fa fa-suitcase"></i> {{jobs.title}}</li>
                    <li class="js-studies"><i class="fa fa-graduation-cap"></i> {{studies.title}}</li> 
                    <li class="js-projects"><i class="fas fa-copy"></i> {{projects.title}}</li>
                </ul>
            </div>
        </div>
    </div>
</nav>