<nav class="mobile d-lg-none">
    <div class="container">
        <div class="navigation-access row">
            <div class="col-12 clearfix">
                <p class="float-left">Navigation</p>
                <div class="navigation-button float-right">
                    <div class="btn-line-nav"></div>
                    <div class="btn-line-nav"></div>
                    <div class="btn-line-nav"></div>
                </div>
            </div>
        </div>
        <div class="navigation-display col-12">
            <div class="navigation-close row">
                <div class="col-12 clearfix">
                    <p class="float-left">Navigation</p>
                    <div class="navigation-close-btn float-right">
                        <i class="fas fa-times"></i>
                    </div>                    
                </div>
            </div>
            <div class="navigation-items row">
                <div class="col-12">
                    <ul>
                        <li class="js-header">
                            <i class="far fa-user-circle"></i>
                            <div>Présentation</div>
                        </li>
                        <li class="js-competences">
                            <i class="fa fa-cogs"></i>
                            <div>{{competences.title}}</div>
                        </li>
                        <li class="js-jobs">
                            <i class="fa fa-suitcase"></i>
                            <div>{{jobs.title}}</div>
                        </li>
                        <li class="js-studies">
                            <i class="fa fa-graduation-cap"></i>
                            <div>{{studies.title}}</div>
                        </li>  
                        <li class="js-projects">
                            <i class="fas fa-copy"></i>
                            <div>{{projects.title}}</div>
                        </li> 
                    </ul>
                </div>
            </div>            
        </div>
    </div>
</nav>