<nav class="mobile d-lg-none">
    <div class="container">
        <div class="navigation-access row">
            <div class="col-12 clearfix">
                <p class="float-left">Navigation</p>
                <div class="navigation-button float-right">
                    <div class="btn-line-nav"></div>
                    <div class="btn-line-nav"></div>
                    <div class="btn-line-nav"></div>
                </div>
            </div>
        </div>
        <div class="navigation-display col-12">
            <div class="navigation-close row">
                <div class="col-12 clearfix">
                    <p class="float-left">Navigation</p>
                    <div class="navigation-close-btn float-right">
                        <i class="fas fa-times"></i>
                    </div>                    
                </div>
            </div>
            <div class="navigation-items row">
                <div class="col-12">
                    <ul>
                        <li class="js-presentation">Présentation</li>
                        <li class="js-competences">{{competences.title}}</li>
                        <li class="js-jobs">{{jobs.title}}</li>
                        <li class="js-studies">{{studies.title}}</li>  
                    </ul>
                </div>
            </div>            
        </div>
    </div>
</nav>